.hide {
    opacity: 0;
    transition: opacity 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.show {
    opacity: 1;
    transition: opacity 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slow-hide {
    opacity: 0;
    transition: opacity 3s cubic-bezier(0.075, 0.82, 0.5, 1);
}
.slow-show {
    opacity: 1;
    transition: opacity 3s cubic-bezier(0.075, 0.82, 0.5, 1);
}

.slow-show-animation-class {
    animation: show-animation 3s cubic-bezier(0.075, 0.82, 0.5, 1);
}

@keyframes changed-color {
    0% {
        color: #a27737;
    }
    20% {
        color: #4aa9bc;
    }
    40% {
        color: #37a274;
    }
    60% {
        color: #7737a2;
    }
    80% {
        color: #a2375e;
    }
    100% {
        color: #a27737;
    }
}

@keyframes changed-color-light {
    0% {
        filter: drop-shadow(0px 0px 1rem rgb(0, 255, 238));
    }
    20% {
        filter: drop-shadow(0.1rem 0.3rem 0.6rem rgb(95, 106, 255));
    }
    40% {
        filter: drop-shadow(0.1rem 0.3rem 0.6rem rgb(95, 106, 255));
    }
    60% {
        filter: drop-shadow(0.3rem 0.1rem 0.8rem rgb(255, 59, 176));
    }
    80% {
        filter: drop-shadow(-0.15rem -0.2rem 0.4rem rgb(255, 128, 0));
    }
    100% {
        filter: drop-shadow(0px 0px 1rem rgb(0, 255, 238));
    }
}

@keyframes changed-color-light-big {
    0% {
        filter: drop-shadow(0px 0px 5rem rgb(0, 255, 238));
    }
    20% {
        filter: drop-shadow(2rem 4rem 4rem rgb(95, 106, 255));
    }
    40% {
        filter: drop-shadow(1rem 2rem 6rem rgb(95, 106, 255));
    }
    60% {
        filter: drop-shadow(-2rem -1rem 7rem rgb(255, 59, 176));
    }
    80% {
        filter: drop-shadow(-0.15rem -0.2rem 4rem rgb(255, 128, 0));
    }
    100% {
        filter: drop-shadow(0px 0px 5rem rgb(0, 255, 238));
    }
}

@keyframes dissipated {
    from {
        filter: blur(0);
    }
    to {
        filter: blur(50px);
    }
}

@keyframes get-low {
    from {
        max-height: none;
    }
    to {
        max-height: 0;
    }
}

@keyframes show-animation {
    from {
        opacity: 0;
        filter: blur(50px);
    }
    to {
        opacity: 1;
        filter: blur(0);
    }
}