.hide {
    opacity: 0;
    transition: opacity 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.show {
    opacity: 1;
    transition: opacity 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slow-hide {
    opacity: 0;
    transition: opacity 3s cubic-bezier(0.075, 0.82, 0.5, 1);
}
.slow-show {
    opacity: 1;
    transition: opacity 3s cubic-bezier(0.075, 0.82, 0.5, 1);
}